/* CSS variables */
@import url(partials/var.css);


*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--colortext);
    font-family: var(--montserratbold);
    
    background-color: var(--color4) ;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Start Background */

/* End Background */



/* Start Navbar */


nav {
    font-size: 1rem;
    height: fit-content;

    position: fixed;
    z-index: 99999;
    width: 100vw;

    /* background-color: var(--bgcolor2); */

    color: var(--colortext);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    min-height: 70px;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    color: #FFF;
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
}

.nav-link {
    font-family: var(--montserratbold);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.534);

    margin: 0 10px;
    padding: 10px;

    border: 2px solid #FFF;
    border-radius: 25px;
}

.nav-link:hover {
    color: #FFF;
    background-color: var(--color9);
    transform: scale(1.2);
    transition: 1s;
}

#nav-book {
    background-color: var(--color9);
}

/*RESPONSIVE NAVBAR MENU STARTS*/
input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


@media (max-width: 768px) {

    nav {
        background-color: var(--bgcolor2);
    }

    .menu {
        display: none;
        position: absolute;
        background-color: var(--bgcolor2);
        right: 0;
        left: 0;
        text-align: end;
        padding: 16px 0;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .nav-link {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: none;
    }

    .nav-link:hover {
        color: #FFF;
        background-color: var(--color9);
        transform: scale(1.2);
        transition: 1s;
    }

    #nav-book {
        background-color: var(--color9);
    }

}



/* End Navbar */

/* Start Homescreen */

.screen-home {
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.screen-home-text {
    padding: 5%;
    text-align: end;
    
    width: 50vw;
}
.screen-home-img {
    padding: 5%;
    width: 50vw;
}

.home-title {
    color: #FFF;
    font-family: var(--montserratsubrayada);
    font-weight: 300;
    font-size: 60px;
}

.home-subtitle {
    color: #FFF;
    font-family: var(--montserrat);
    font-weight: 300;
    font-size: 30px;
}
.home-img {
    width: 100%;
    height: auto;
}

@media (max-width: 1080) {
    .body {
        background-color: red;
    }
    .screen-home {
        display: flex;
        flex-direction: column;
        justify-content: end;

        background-color: red;
    }
    .home-subtitle {
        color: black;
        font-family: var(--montserrat);
        font-weight: 300;
        font-size: 30px;
    }
}

/* End Homescreen */

/* Start Aboutscreen */
screen.about-img {
    width: 50vw;
}

.about-img-1 {
    width: 300px;
    height: auto;
}
.about-img-2 {
    width: 500px;
    height: auto;
}
.about-img-3 {
    width: 600px;
    height: auto;
}

/* End Aboutscreen */