
/* CSS Variables */
:root {
    --color1: #ffcdb2;
    --color2: #ffb4a2;
    --color3: #e5989b;
    --color4: #b5838d;
    --color5: #6d6875;

    --color6: #22223b;
    --color7: #4a4e69;
    --color8: #9a8c98;
    --color9: #c9ada7;
    --color10: #f2e9e4;

    


    --roboto: 'Roboto', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --handlee: 'Handlee', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --montserratbold:'Montserrat', bold;
    --montserratsubrayada: 'Montserrat Subrayada', sans-serif;
    --kdam: 'Kdam Thmor Pro', sans-serif;
    --raleway:'Raleway', sans-serif;
    --homemade: 'Homemade Apple', cursive;
    --neucha:  'Neucha', cursive;

} 